@import "bs-4.x/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap');

body{
  font-family: 'Inter', sans-serif;

  &.modal_open {
    overflow: hidden;
  }
}

.container{
  max-width: 1100px;
}
.header-wrap{
  background: #372D76;
  position: fixed;
  width: 100%;
  z-index: 1;
  .header-inner{

    .navbar-light .navbar-nav .show >.nav-link,
    .navbar-light .navbar-nav .active >.nav-link,
    .navbar-light .navbar-nav .nav-link.show,
    .navbar-light .navbar-nav .nav-link.active {
      color:white;
    }

    .navbar-light .navbar-nav .nav-link{
      color: white;

    }

    .navbar-brand{
      display: flex;
      color: white;
      img{
        width: 3rem;
      }

      h5{
        margin-top: 0.75rem;
        font-size: 0.75rem;
      }

    }


    .navbar-nav{
      margin-left: auto;
      font-size: 0.90rem;

      li:not(last-child){
        margin-right: 1rem;

      }


      li{

        border-bottom: transparent 1px solid;
        transition: all 0.3s ease-in-out;


        &:hover{
          border-color:red;


        }


      }

      .nav-item-right{
        margin-left: 3rem;
      }


    }

  }
}

.btn-primary{
  border-radius: 0;
  border-color:red ;
  font-size: 0.90rem;
  padding: 0.35rem 1.25rem;
  background-color: red;
  transition: all 0.80s ease-in-out;

  &:hover{
    background-color: white;
    color: black;

  }
}

.top_banner-wrap{
  background-color: #372D76;


  .top_banner-inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .top_banner-content{
      margin-top: 12rem;
      margin-left: 1rem;
      color: white;
      h2{
        font-weight: 600;
        font-size: 2.75rem;
      }

      p{
        padding-top: 1rem;
        font-size: 0.75rem;
        font-weight: 200;
      }

      .btn-primary{
        margin-top: 1rem;
      }

    }

    .top_banner-img{

      width: 35rem;
    }
    img{
      width: 100%;
      height: 100vh;
      transform: translateY(80px);
      border-radius: 0 0 40px 0;
    }

  }
}

.scroll_down-wrap{
  background-color: #F9F9F9;
  padding-top: 3rem;

  .fa {
    width: 2.25em;
    height: 2.25em;
    background: rgba(red, .25);
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    font-style: normal;
    color: red;
    margin-right: 1rem;
  }

  a{
    text-decoration: none;
    padding-left:15rem;
    color: black;

  }
}




.second_banner-wrap{
  background-color: #F9F9F9;
  .camera_man-img{
    img{
      width: 100%;
      transform: translateY(148px);
    }
  }
  .services_banner-inner{
    position: relative;
    height: 100%;
    padding-top: 4rem;
    padding-bottom: 4rem;
    .services_banner-content{
      text-align: center;

      h5{
        color: red;
        font-size: 1rem;
      }

      h2{
        padding-top: 1rem;
      }
      p{
        padding-top: 2rem;
        padding-bottom: 2rem;
        font-size: 0.75rem;
      }

    }

    .center{
      margin: 0;
      position: absolute;
      top: 95%;
      left: 45%;
      -ms-transform: translate(-50% -50%);
      -webkit-transform: translate(-50% -50%);
      transform: translate(-50% -50%);
    }



  }


  .services-cards{
    .card-group{
      .card{
        padding-top: 3rem;
        padding-bottom: 3rem;
        transition: all  1s ease-in-out;
        border-color: white;


        &:hover{
          background-color:#372D76 ;
          transform: scale(0.97);

          .card-img-top{
            filter: brightness(100);
          }

          .card-body{
            h5{
              color: white;
            }
            p{
              color: white;
            }
          }
        }

        img{
          width: 4rem;
          padding-left: 1rem;
        }

        .card-body{
          padding-left: 1rem;

          h5{

            font-weight: 600;
          }
          p{

            font-size: 0.90rem;
            padding-bottom: 3rem;
          }
          a{

            border: 10px solid #F9F9F9;
            background-color:#F9F9F9 ;
            padding: 0 0.50rem;

            i{
              color: #d5d1d1;
            }

          }

        }
      }
    }
  }

}

.study_banner-wrap{
  padding-bottom: 8rem;

  .study_banner-inner{
    display: flex;
    justify-content: space-between;
    padding-top: 4rem;
    border-bottom: 1px solid #eaeaea;
    .study_banner-content{
      padding-top: 10rem;

      h5{
        color: red;
        font-size: 1rem;
      }

      h2{
        padding-top: 0.55rem;
      }
      p{
        display: flex;
        padding-top: 0.55rem;
        padding-bottom: 4rem;
        font-size: 0.85rem;

        span{
          font-weight: bold;
          padding-left: 0.35rem;
        }
      }
    }
    .study_banner-btn{
      padding-top: 12rem;
    }
  }

  .cards-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 4rem;
    padding-bottom: 4rem;
    img{
      width: 4rem;
      height: 3rem;
      margin-right: 2rem;
    }
    .section{
      display: flex;
      .section-content{
        padding-top: 1.55rem;

        h5{
          font-weight: bold;
          cursor: pointer;
        }

      }

    }

  }
}

.testimonial-banner{
  padding-bottom: 5rem;
  background-color: #F9F9F9;

  .testimonial_banner-inner{
    .banner-content{
      display: flex;
      justify-content: space-between;
      padding-top: 8rem;
    }


    .rating-session{
      display: flex;
      padding-bottom: 5rem;
      img{
        width: 4rem;
      }
      p{
        padding-left: 0.50rem;
        padding-top: 1.25rem;
        cursor: pointer;
      }

    }

  }

  .testimonial-lower{
    display: flex;
    flex-wrap: wrap;

    .card{
      border-radius: 0 0 40px 0;
      border-color: white;
      img{
        width: 5rem;
        height: 5rem;
        transform: translateY(-40px);
        margin-left: 2rem;
      }
      p{
        padding-left: 3rem;
        padding-right: 2rem;
        font-style: italic;
      }
      a{
        padding-top: 2rem;
        padding-left: 3rem;
        padding-right: 2rem;
        text-decoration: none;
        color: red;
      }

    }

    .keyboard-img{
      img{
        transform: translateY(-90px);
      }
    }

  }

  .logo-section{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 5rem;
    padding-bottom: 3rem;
  }
}

.contact_section-wrap{
  padding: 5rem 0;
  background-color:#372D76 ;
  .contact-content{
    text-align: center;
    h5{
      color: red;
      font-size: 1rem;
      padding-bottom: 2rem;
    }

    h2{
      color: white;
      font-weight: 600;
      padding-bottom: 2rem;
    }

  }
}


.modal_wrap{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(black, .5);
  display: none;
  z-index: 10;

  .modal_content{
    display: flex;
    width: 100%;
    height: 100%;
    .modal_inner{
      width: 500px;
      background: white;
      padding: 2rem;
      margin: auto;

      a{
        color: black;
        padding-bottom: 1rem;
        margin-left: 25rem;
        text-decoration: none;
      }
      form{

        .form-group{
          margin-bottom: 1rem;

          label{
            display: block;
            width: 100%;
          }

          input{
            display: block;
            width: 100%;
          }

          textarea{
            display: block;
            width: 100%;
          }
        }

        .form_submit-confirmation{
          position: absolute;
          height: 100%;
          top: 0;
          left: 0;
          display: none;
          width: 100vw;
          background: white;
          padding: 2rem;
          margin: auto;
          text-align: center;

          article{
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
          }

        }

      }
    }
  }
}

.contact-btn{
  .modal_wrap{
    display: block;
  }
}

.footer-wrap{
  padding-top: 5rem;
  padding-bottom: 3rem;
  background-color: #F9F9F9;
  border-bottom: 1px solid grey;


    .row{
      justify-content: space-between;
      .footer-col{
        padding-bottom: 2rem;
        text-align: start;
        .add{
          padding-left: 3rem;
        }

        address{
          padding-left: 3rem;
        }

        p{
          padding-left: 3rem;
        }
        .li{
          margin-left: 2rem;
        }

        .no{
          margin-left: 2rem;
        }
      }

      li{
        list-style: none;
        a{
          color: red;
          text-decoration: none;
        }
      }

    }


}

.footer-lower{
  padding-bottom: 2rem;
  padding-top: 2rem;
  background-color: #F9F9F9;
  .footer_lower-inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .footer-text{
      a{
        color: red;
        text-decoration: none;
      }
    }

    .footer-icon{

    ul{
      display: flex;
    }

      li{
        list-style: none;

       a{
         text-decoration: none;
         color: black;

         .fa-angle-up{
           color: red;
           font-size: 1.50rem;
           margin-left: 1.55rem;
         }
       }
      }
      li:not(last-child){
        margin-right: 1rem;

      }
    }
  }
}








@media (max-width: 1199px) {

}


@media (max-width: 991px) {


  .scroll_down-wrap{
    padding-top: 7rem;


  }

  .second_banner-wrap{
    .second_banner-inner{

      a{

        line-height: 270px;


      }

      .icon{
        a{

          line-height: 270px;


        }

      }


    }
  }

  .services_banner-inner{

    .btn{
      display: none;
    }

  }

  .testimonial-banner{


    .testimonial-lower{

      .card{
        flex: 50%;

        a{

          padding-bottom: 5rem;

        }

      }

      .keyboard-img{
        img{

          transform: translateY(-30px);
        }
      }

    }
  }
}



@media (max-width: 767px) {

  .top_banner-wrap{

    .top_banner-inner{
      .top_banner-img{

        flex: 100%;
      }

    }
  }



  .services-cards{
    .card-group{
      .card{

        flex: 100%;



      }
    }
  }



  .study_banner-wrap {


    .study_banner-inner {

      .study_banner-btn {
        padding-top: 12rem;
      }
    }

    .cards-section {


      .section {
        flex: 100%;

        .section-content {
          padding-top: 1.55rem;


          h5 {
            font-weight: bold;
            cursor: pointer;
          }

        }

      }

    }

  }

  .footer-wrap{
    .row{

      .footer-col{

        .add{
          padding-left: 2rem;
        }


      }



    }


  }


}




@media (max-width: 575px) {

}

@media (max-width: 479px) {





}





